<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd"
      crossorigin="anonymous"
    />
    <title>Webhook-repo</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"
        ><i class="bi bi-github"></i> GitHub webhook-repo</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <div class="form-inline my-2 my-lg-0">
          <span class="mr-2" id="autorefresh_alert"></span>
          <button
            onclick="fetchAPIdata();"
            class="btn btn-outline-success my-2 my-sm-0"
            type="submit"
          >
            <i class="bi bi-arrow-clockwise mr-2"></i>Refresh
          </button>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="card">
        <div class="card-header mt-1">
          <h5>Activity &nbsp📊</h5>
        </div>
        <div
          style="max-height: 75vh; overflow-y: auto"
          id="default_screen"
          class="card-body"
        >
          {% for item in items %} {% if item['action_type']=="push"%}
          <div class="alert alert-secondary" role="alert">
            "{{item['author']}}" <span class="badge badge-pill badge-success">pushed</span> to "{{item['to_branch']}}" on
            {{item['timestamp']|datetime}} 
          </div>
          {% endif %} {% if item['action_type']=="pull"%}
          <div class="alert alert-secondary" role="alert">
            "{{item['author']}}" submitted a <span class="badge badge-pill badge-warning">pulled</span> request from
            "{{item['from_branch']}}" to "{{item['to_branch']}}" on
            {{item['timestamp']|datetime}}
          </div>
          {% endif %} {% if item['action_type']=="merge"%}
          <div class="alert alert-secondary" role="alert">
            "{{item['author']}}" <span class="badge badge-pill badge-info">merged</span> branch "{{item['from_branch']}}" to
            "{{item['to_branch']}}" on {{item['timestamp']|datetime}}
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="../static/custom.js"></script>
  </body>
</html>
